.imagenes-proyecto {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.proyecto-img {
  width: 300px;        
  height: auto;        
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  object-fit: cover;   
}

.proyecto-img-wide {
  width: 500px; 
}
