@import "primeicons/primeicons.css";



#contenedorPrincipal {

  background-image: url('./assets/img/fondoTopitos.jpg');
  background-size: 250px 350px;
  color: antiquewhite;
  height: 100%;
  width: 100%;;
 
   
}

#pensamiento {
  width: 100vw;
  height: 10vh;
  display: flex;
  align-items: last baseline;
  font-size: 40px;
  justify-content: center;
  margin-bottom: 200px;
  font-style: italic;
  font-family: cursive, 'Arial Narrow', Arial, sans-serif;
  
}

#textoHome {
  font-family: 'Playfair Display', serif; 
  font-style: italic; 
  font-size: 30px;
  text-align: center;
  font-weight: 400;
  margin-bottom: 250px;
}

#eliana {

  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 60px;
  margin-top: 100px;
  margin-bottom: 50px;
}


#footer {
  padding-top: 30px;
  font-size: 20px;
  bottom: 0px;
  text-align: center;
  height: 400px;
  width: 100%;
  max-width: 100%;
  
}

#parrafoFooter {

  margin-bottom: 10px;
  
  
}

#about {
  font-family: 'Roboto Slab', serif;
    font-size: 25px;
  margin-left: 50px;
  text-align: justify;
  margin-bottom: 170px;
  margin-top: 60px;
  color: antiquewhite;
}

.about-text p {
  font-family: 'Roboto Slab', serif;
  font-style: italic;
  font-size: 25px;
  text-align: justify;
  line-height: 1.6;
  color: antiquewhite;
}


#fotoEli {

  margin-top: 10px;
  float: right;

}

.titulos {
 text-align: center;
 margin-bottom: 100px;
 font-size: 80px;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#timelineParrafo {
  font-size: 30px;
  margin-bottom: 40px;
}

.enConstruccion {

  display: grid;
  place-items: center;
  margin-bottom: 100px;;
  margin-top: 100px;;
}

@media (max-width: 992px) {
  #pensamiento,
  #textoHome,
  #about,
  #timelineParrafo {
    font-size: 24px;
  }

  #eliana {
    font-size: 45px;
  }

  .titulos {
    font-size: 60px;
  }
}

@media (max-width: 576px) {
  #pensamiento,
  #textoHome,
  #about,
  #timelineParrafo {
    font-size: 18px;
  }

  #eliana {
    font-size: 32px;
  }

  .titulos {
    font-size: 40px;
  }
}
.container {
  max-width: 900px;  
  margin: 0 auto;  
  padding: 0 15px;   
}

.projects {
  margin-bottom: 40px;
  background-color: #252850; 
  color: antiquewhite;
  padding: 20px;
  border-radius: 10px;
}

.projects h2 {
  margin-top: 0;
  font-size: 2rem;
}

.projects ul {
  list-style: none;
  padding-left: 0;
  font-size: 1.5rem;
}


html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
}