
#footer {
  text-align: center;  
  
         
}

#contenedorPrincipal {
  height: 100%;
  color: white;
}

#pensamiento {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: last baseline;
  justify-content: right;
  
  

}
#codigoBinario {
  
  font-family: monospace;
  display:grid;
  grid-column: auto;

  
}
